@tailwind base;
@tailwind components;
@tailwind utilities;

.dialog-enter {
    opacity: 0;
  }
.dialog-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .dialog-enter-done {
    opacity: 1;
  }
.dialog-exit {
    opacity: 1;
  }
.dialog-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  .dialog-exit-done {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

@layer components{
    .primary-btn{
        @apply px-4 py-2 rounded-2xl bg-primary/10 border-primary border-[1px] hover:border-purple-900  hover:bg-primary/40 backdrop-blur-md text-white font-[400] duration-300
    }
    .secondary-btn{
        @apply px-4 py-2 rounded-2xl border-white/40  hover:bg-white  border-[1px] hover:border-white/40  hover:bg-white/10 backdrop-blur-md text-white font-[400] duration-300
    }
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer base{
    h1{
        @apply text-7xl leading-[1.5em]
    }
    .flexbox{
        @apply flex items-center justify-center
    }
   
}